@import "index.sass"
@import "shop.sass"

body
	margin: 0
	padding: 0

	font-family: "PT Sans Narrow", Arial, sans-serif

	font-size: 14px
	line-height: 24px
	font-weight: 700
	text-transform: uppercase
	color: #ffffff

	background-color: #0f161f
	background-image: url("../img/main_bg.png")
	background-position: top center
	background-repeat: none

a
	text-decoration: none

img
	max-width: 100%
	height: auto

h2
	font-size: 30px
	line-height: 42px
	font-weight: 700

ul, ol
	list-style: none


.visually-hidden
	position: absolute
	width: 1px
	height: 1px
	margin: -1px
	border: 0
	padding: 0
	white-space: nowrap
	clip-path: inset(100%)
	clip: rect(0 0 0 0)
	overflow: hidden

.button
	display: inline-block
	font: inherit

	padding: 10px 30px
	margin-right: 16px

	text-align: center
	color: #ffffff
	vertical-align: middle
	text-transform:	uppercase

	background-color: #000000
	border: 2px solid #000000

	&:hover, &:focus, &:active
		background-color: #663d15
		color: #ffffff
		border: 2px solid #000000

	&.disabled
		cursor: default
		opacity: 0.5
		background-color: #000000

.container
	width: 950px



// sass shop

.shop-header, .main-shop, .shop-footer
	color: #000000


.shop-navigation
	background-color: #000000
	.container
		display: flex
		justify-content: space-between
		align-items: center
		min-height: 70px
	&__site-list
		display: flex
		justify-content: space-around
		flex-wrap: wrap
		margin: 0
		padding: 0
		min-width: 656px
	&__site-item
		a
			color: #ffffff
	&__user-list
		flex-wrap: wrap
		margin: 0
		padding: 0

	&__user-item
		position: relative
		a
			color: #ffffff

	&__user-item-link::before
			content: ""
			position: absolute
			top: 25px
			right: 65px

			width: 16px
			height: 18px
			padding: 0px

			background-image: url(../img/svg/login.svg)
			background-repeat: no-repeat
			background-position: 0 0

			opacity: 0.3
	&__user-item-link
		&:hover::before, &:focus::before, &:active::before
			opacity: 1

	&__site-item-link, &__user-item-link
		display: block
		padding: 20px
		color: #ffffff
		a:hover, a:focus
			background-color: #500000

.main-shop
	padding-top: 65px
	background-color: #f9f6f3

	.breadcrumbs
		display: flex

		&__item
			padding-right: 14px
		&__link
			color: #000000

