.main-header
	display: flex
	flex-direction: column-reverse
	align-items: center
	margin-bottom: 75px

	.main-navigation
		display: flex
		justify-content: center
		width: 100%
		min-height: 46px
		font-size: 16px
		line-height: 20px
		color: #ffffff

		background-color: #000000

		&__site-list, &__user-list
			list-style: none
			margin-top: 30px
		&__site-item, &__user-item
			float: left
		&__user-item-link
			img
				margin-right: 15px
		&__site-item-link
			color: #ffffff
			padding: 20px
			a:hover, a:focus
				background-color: #500000

.feature
	&__list
		display: flex
		justify-content: space-around
		list-style: none
		padding: 0
	&__item
		text-align: center
		width: 300px
		.feature-item
			&__title
				font-size: 30px
				line-height: 42px
				font-weight: 700
			&__text
				text-align: center
.wrapper-colums
	display: flex
	justify-content: space-around

	padding: 50px 80px
	margin-bottom: 35px

	color: #000000
	background-color: #f8f5f2
	background-image: url("../img/pattern-light.png")
	background-position: center
	background-repeat: no-repeat

	.news
		width: 380px
		&__list
			list-style: none
			padding: 0
			margin: 0
		&__item
			time
				text-transform: none
	.gallery
		width: 300px
		display: flex
		justify-content: space-between
		&__content
			background-color: #cccccc
			border: 7px solid #ffffff

	.contacts

	.appointment

		&__item
			input
				font: inherit
				background-color: trandparent
				border: 2px solid #000000
				&:focus
					border-color: #3dfd24
				&:hover
					border-color: #4b5dfd

.footer
	color: #ffffff
	background-color: #212121
	background-image: url(../img/footer_bg.png)
	background-position: 0 0
	background-repeat: no-repeat

	&__contact
		a
			color: #ffffff
			text-decoration: underline
			&:focus, &:hover
				text-decoration: none
	&__social
		.footer-social
			&__list
				text-align: center
				list-style: none
			&__item
				color: #ffffff
	&__copyright
		text-align: center
		a
			text-transform: none
.modal
	color: #000000

	background-color: #f8f3f0
	background: url("../img/pattern-light.png")
	background-position: 0 0
	background-repeat: no-repeat
	h2
		font-size: 30ps
		line-height: 42px
.login-form
		input
			font: inheritssss
			color: #000000
			text-transform: uppercase

			background-color: #f9f6f3
			border: 2px solid #000000

			&:focus, &:hover
				color: #663d15
				border-color: #663d15
		.restore
			color: inherit
			text-decoration: underline

			&:hover, &:focus
				text-decoration: none
